feynmagi/data/config.txt
feynmagi/data/config_mail.json
feynmagi/.ipynb_checkpoints
feynmagi/data/mylog.log
feynmagi/data/dials.txt
feynmagi/data/ragmem4_dir/*
feynmagi/data/dials.txt
feynmagi/data/.ipynb_checkpoints/*
build/lib/feynmagi/data/*
