include requirements.txt
include README.md
include LICENSE
include feynmagi *.py
recursive-include feynmagi/static *
recursive-include feynmagi/templates *
recursive-include feynmagi/prompts *
recursive-include feynmagi/data * 